.button {
  color: black;
  font-size: 14px;
  background-color: #cdf15e;
  outline: none;
  border: 1px solid #949494;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #96e74b;
    transition: .3s;
  }
}